name: Build Manifests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout berries-config
        uses: actions/checkout@v6
        with:
          path: config

      - name: Checkout berries-manifests
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.BERRIES_MANIFESTS_TOKEN }}
          repository: nresare/berries-manifests
          path: target

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false

      - name: Configure git
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

      - name: Install and run manifest-builder
        run: |-
          uv venv
          uv pip install --upgrade --extra-index-url https://nresare.github.io/manifest-builder manifest-builder
          uv run manifest-builder -c config -o target --create-commit

      - name: Push to berries-manifests
        run: |
          cd target
          git push
